main{
    width: 940px;
    margin:0 auto
}

form{
    margin: 40px 0;
}

form label,form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}
.input-padrao{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox{
    margin: 20px 0;
}
.enviar{
    width:40%;
    padding: 15px 0;
    background-color: orangered;
    color: beige;
    font-weight: bold ;
    font-size: 18px;
    border: none;
    border-radius: 3px;
    transition: 1s;
}

.enviar:hover{
    background-color:rgb(129, 14, 14);
    transform: scale(1.2);
}
table {
    margin: 20px 0 40px;
}

thead {
    background: #555555;
    color: white;
    font-weight: bold;
}

td, th {
    border: 1px solid #000000;
    padding: 8px 15px;
}
@media screen and (max-width: 548px){
	main{
        
        width: 100%;
        align-items: center;
        margin: 6em 0;
       
    }
    form{
        margin: 0 2em;
    }
    
    form label,form legend{
    font-size: 2em;
    
     }

    

	h1{
		text-align: center;
	}
	nav{
		position: static;
	}
	.lista-beneficios,.imagembeneficios{
		width: 100%;
	}
}